<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <servlet>
        <servlet-name>ListaCarreras</servlet-name>
        <servlet-class>com.isragomez.AdministracionCarrerasApp.Acciones.ListarCarreras</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MostrarInfoCarrera</servlet-name>
        <servlet-class>com.isragomez.AdministracionCarrerasApp.Acciones.MostrarInfoCarrera</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgregarCarrera</servlet-name>
        <servlet-class>com.isragomez.AdministracionCarrerasApp.Acciones.AgregarCarrera</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarCarrera</servlet-name>
        <servlet-class>com.isragomez.AdministracionCarrerasApp.Acciones.EliminarCarrera</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EliminarCarrera</servlet-name>
        <url-pattern>/EliminarCarrera</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregarCarrera</servlet-name>
        <url-pattern>/AgregarCarrera</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MostrarInfoCarrera</servlet-name>
        <url-pattern>/carrera</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaCarreras</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
</web-app>